/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

body {
     background: url(../images/blue.jpg) no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     height: 100px;
}    

.jumbotron {
	position: relative;
	background: none;
     bottom: 50px;
}

.jumbotron:after {
     content:"";
     opacity: 0.8;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

.project .details {
     overflow: hidden;
}

.project .details .detailsImage {
     width: 200px;
     margin: 10px 10px 10px 0px;
     float: left;
}

.row .thumbnail h4 {
     text-align: left;
}

.likeCtr {
     text-align: center;
}

.bottom {
     left: 100px;
     width: 100%;
     height: 100px;
     position: fixed;
     bottom: 0;
     overflow:hidden;
}

.section {
     text-align: center;
}

.pdfobject-container {
     left: 550px;
     width: 100%;
     max-width: 800px;
     height: 600px;
     margin: 2em 0;
}

.pdfobject {
     border: 1px solid #666; 
}

.resume-name{
     text-align: center;
}

.resume {
     width: 1000px;
     height: 600px;
     position: absolute;
     margin-left: auto;
     margin-right: auto;
}

.content{
     left: 400px;
     bottom: 150px;
     width: 700px;
     height: 100px;
     text-align: center;
     position: relative;
     padding: 30px;
     font-family: "Trebuchet MS", sans-serif;
     line-height: 1.3; 
}

.link{
     color: black !important;
}


#comment_text{
    height: 150px; 
}
