/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

h1, h2, h3, h4, h5 {
	color: #8382BF;
}

.friends {
	width: 300px;
}

#Friend_btn{
	width: 100%;
	height: 80px;
	position: relative;
	text-align: center;
	font-size:200%;
}

#News_btn{
	width: 100%;
	height: 80px;
	position: relative;
	font-size:200%;
}