<!doctype html>

<html>
<head>
	<title>My HCI New Friends</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Import CSS files -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/hci-friends.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

	<div class="container">
		<h1>My HCI New Friends</h1>
		{{#each new_friend}}
		<div class="friend">
			<img src={{imageURL}} class="img-responsive img-rounded">
			<a href="#">
				<h3 class="names">{{name}}</h3>
			</a>
			<p> {{description}} </p>
		</div>
		{{/each}}
	<h5><a href="/">Back &raquo;</a></h5>
	</div>
	<!-- Import JavaScript -->
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/hci-friends.js"></script>
	<script src="/js/bootstrap.js"></script>

</body>
</html>