<!doctype html>

<html>
<head>
	<title>News of My HCI Friends</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/hci-friends.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script
    <![endif]-->        
</head>

<body>
	<div class="container">
		<div>
			<a id="Friend_btn" class="btn btn-success" href="/" role="button">My HCI Friends</a>
			<a id="News_btn" class="btn btn-primary" href="/news" role="button">News</a>
		</div>	
		<ol>
		<div id="messages" class="hide" role="alert">
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <div id="messages_content"></div>
        </div>	
		<form id="addNewsForm" role="form" method="get" action="/addNews" onsubmit="return checkNewsform()">
			<h3>Post a news!</h3>
			<div class="form-group">
			    <label for="name" id="lb_name">Name:</label>
			    <input type="text" class="form-control" id="name" placeholder="Name" name="name">
			</div>
			<div class="form-group">
			    <label for="Content" id="lb_content">Content:</label>
			    <input type="text" class="form-control" id="content" placeholder="Content" name="content">
			</div>
			<input type="submit" id="submitBtn" class="btn btn-default" value="Add a News"></input>
		</form>
		<h2>What's happening</h2>
		{{#each news}}
		<div class="news" id="{{name}}">
			<a href="{{name}}" class="thumbnail">
				<h3 class="person-name">{{name}}</h3>
				<div class="news-content">
					<p>{{content}}</p>
				</div>
				<hr>
			</a>
		</div>	
		{{/each}}
	</div>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/hci-friends.js"></script>
</body>
</html>
