<!doctype html>

<html>
<head>
  <title>HCI Project Portfolio</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
  <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
  <div class="container">
    <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
    <!-- p means paragraph -->
    <div class="jumbotron">
        <h1 id="name">Michael Bernstein</h1>
        <p>human-computer interaction &middot; social computing &middot; crowdsourcing</p>
        <p class="facebookLogin">
          Please login through Facebook
          <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
          </fb:login-button>
        </p>
    </div>

    <div id="facebookPhoto" class="profile">
      <h1>Profile Photo</h1>
      <img id="photo" class='img-responsive' src="images/lorempixel.people.1.jpeg" />
    </div>

    <div id="camera" class="profile">
      <canvas id="camera-canvas"></canvas>
      <video autoplay id="camera-video"></video>
      <button id="camera-button">Take Photo</button>
    </div>

    <div id="googleMaps" class="profile">
      <h1>Where am I?</h1>
      <div id="map"></div>
    </div>
  </div>
  
  <script src="/js/camera.js"></script>
  {{> facebook}}
  <script src="/js/facebook.js"></script>
  {{> googleMaps}}
  <script src="/js/googleMaps.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/canvas-to-blob.min.js"></script>
  <script src="/js/introHCI.js"></script>

</body>
</html>

