<!doctype html>

<html ng-app>
<head>
	<title>Wei He- Contact</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-collapse="true">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Wei He</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home </a></li>
				<li><a href="/resume"> <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Resume</a></li>
				<li><a href="/project"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Project </a></li>
				<li class="active"><a href="/contact"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Contact </a></li>
			</ul>
		</div>
		</div>
	</nav>
	<div class="container">
		<div class="jumbotron">
			<h2>Wei He</h2>
			<h4>Computer Science Student at UC San Diego</h4>
		</div>	
	</div>
	<div class="content">
		<h1><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Contact Me</h1>
		<p>Phone: (626) 673-xxxx</p>
		<p>Email: whe0729@gmail.com</p>
		<p>Address: xxx-97th Street, Queens, New York, 11368</p>
		<br><br>
        <h1>
          <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Social Media
        </h1>
        <div class="social-icons">
        	<ul>
        		<li>
	        		<a href="https://www.linkedin.com/in/weihe0729" title="Connect me on LinkedIn">
	                	<img src="../images/linkedin.png" width="64" height="64"></img>
	            	</a>
	                <p>LinkedIn</p>
              	</a>
        		</li>
        		<li>
	              	<a href="https://www.facebook.com/daniel.he.9699" title="Add me on Facebook">
	                <img src="../images/facebook.png" width="64" height="64"></img>
	              	</a>
             	<p>Facebook</p>
            	</li>	
            	<li>
		            <a href="http://weibo.com/u/1770087933" title="Follow me on Weibo">
		                <img src="../images/weibo.png" width="64" height="64"></img>
		            </a>
              		<p>Weibo</p>
            	</li>
            	<li>
	              <a class="fancybox" rel="group" href="../images/wechat-qrcode.jpg">
	                <img src="../images/wechat.png" width="64" height="64"></img>
	              </a>
	              <p>Wechat</p>
	            </li>
        	</ul>
        </div>
	    <div class="comment">
	    	<form ng-controller="FormController">
	        <h1><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Comment</h1>
	        <div class="input-group input-group-lg">
		        <span class="input-group-addon fixsize-addon">Name</span>
		        <input type="text" class="form-control" placeholder="Your name" ng-model="name" />
	         </div>
	         <div class="input-group input-group-lg">
	         	<span class="input-group-addon fixsize-addon">Email</span>
		        <input type="text" class="form-control" placeholder="Your Email" ng-model="commentData.email" />
	         </div>
	         <div class="input-group input-group-lg">
	            <span class="input-group-addon top-addon fixsize-addon">Comment</span>
	            <textarea id="comment_text" type="text" class="form-control" placeholder="Leave some comments for me here" ng-model="commentData.comment"></textarea>
	         </div>
	         <div class="col-lg-12 section">
	         <button class="btn btn-default pull-right" ng-click="post()">Post</button>
	       	</div>
	       </form>
	    </div>
	</div>

	<div class="bottom">
		<p class="section">Copyright © 2016 Wei He. All Rights Reserved.</p>
		</div>
	</div>	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
	<script src="/js/angular.min.js"></script>
	{{> googleAnalytics}}
</body>
</html>
