<!doctype html>

<html>
<head>
	<title>Wei He- Resume</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-collapse="true">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Wei He</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
		        <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
		        <li class="active"><a href="/resume"> <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Resume</a></li>
		        <li><a href="/project"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Project </a></li>
		        <li><a href="/contact"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Contact </a></li>
			</ul>
		</div>
		</div>
	</nav>
	<div class="resume-name">
		<h3>Here is my current Resume: </h3>
	</div>
	<div id="resume-content" class="resume">	
  	</div>
	<div class="bottom">
		<div class="container align-center">
		<p class="section">Copyright © 2016 Wei He. All Rights Reserved.</p>
		</div>
	</div>
	<script src="/js/pdfobject.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
	{{> googleAnalytics}}
</body>
</html>
